<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{ partial "seo.html" . }}
    {{ partial "icons.html" . }}
    <link href='/css/main.css' rel="stylesheet">
    <script defer src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
    <script defer src='{{ "/js/main.js" | absURL }}'></script>
    {{ partial "analytics.html" . }}
</head>

<body>
    {{ partial "navbar-section.html" . }}
    <section class="section">
        <div class="container">
            <h1 class="title">
                {{ .Title }}
            </h1>
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </section>
    {{ partial "footer.html" . }}
</body>

</html>