node_modules
static/css/main.css
static/js/main.js
static/js/main.js.LICENSE.txt
public
world.json
static/simulation/js/simulation.js
static/simulation/js/simulation.js.LICENSE.txt
bot/.env
static/twitter/js/twitter.js
static/twitter/js/twitter.js.LICENSE.txt
data/argentina.json
data/brazil.json
data/chile.json
data/paraguay.json
data/world-population.json
