$section-padding: 1rem 1rem;
$section-padding-medium: 3rem 3rem;
$section-padding-large: 2rem 2rem;

$title-size: 1.5rem;
$subtitle-size: 1.25rem;

$button-padding-horizontal: 0.5em;

@import "bulma/bulma";
@import "bulma-tooltip/src/sass/index";
@import 'spacing';

.columns {
    overflow-x: hidden !important;
}

h2 {
    font-size: $subtitle-size !important;
}

.netlify-logo {
    vertical-align: middle;
    margin-left: 8px;
}

.lang-link {
    display: flex;
    align-items: center;
}

.lang-link > svg {
    margin-right: 0.2em;
}

.donations li {
    margin-bottom: 0.75em;
}

.simulation-param .tag {
    min-width: 5em;
}

.kofi-icon {
    height:26px!important;
    width:40px!important;
    display: initial;
    animation: kofi-wiggle 3s infinite;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    margin-right: 0.5em;
    backface-visibility: hidden;
    animation-delay: 0s, .5s;
}

@keyframes kofi-wiggle {
    0%  { transform: rotate(0) scale(1) }
    60% { transform: rotate(0) scale(1) }
    75% { transform: rotate(0) scale(1.12) }
    80% { transform: rotate(0) scale(1.1) }
    84% { transform: rotate(-10deg) scale(1.1) }
    88% { transform: rotate(10deg) scale(1.1) }
    92% { transform: rotate(-10deg) scale(1.1) }
    96% { transform: rotate(10deg) scale(1.1) }
    100% { transform: rotate(0) scale(1) }
}

.has-text-nowrap {
    white-space: nowrap !important;
}
