$section-padding: 1rem 1rem;
$section-padding-medium: 3rem 3rem;
$section-padding-large: 2rem 2rem;

@import "bulma/bulma";
@import "bulma-tooltip/src/sass/index";
@import 'spacing';

.netlify-logo {
    vertical-align: middle;
    margin-left: 8px;
}

.lang-link {
    display: flex;
    align-items: center;
}

.lang-link > svg {
    margin-right: 0.2em;
}

.donations li {
    margin-bottom: 0.75em;
}
