<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <!-- TODO: optimize -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
    <script defer src="js/simulation.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="content">
                <h1 class="title">{{ .Title }}</h1>
                <!-- TODO: i18n -->
                <div class="columns is-centered">
                    <div class="column is-6">
                        <canvas id="sim" width="512" height="512"></canvas>
                    </div>
                    <div class="column is-6">
                        <canvas id="chart" width="512" height="512"></canvas>
                    </div>
                </div>
                <button id="restart" class="button">Restart</button>
                <hr>
                <div class="columns">
                    <div class="column is-6">
                        <div>
                            <!-- TODO: i18n -->
                            <p class="is-size-5 has-text-weight-bold">
                                Disease
                            </p>

                            <table class="table is-narrow is-hoverable">
                                <tbody>
                                    {{ range .Site.Data.simulation.disease  }}
                                    <tr>
                                        <td>
                                            <!-- TODO: i18n -->
                                            <label for="{{ .id }}">{{ .title }}:</label>
                                        </td>
                                        <td>
                                            <div class="simulation-param">
                                                <!-- TODO: move style to css -->
                                                <span class="tag is-info is-light has-text-weight-bold" style="min-width: 5em;"></span>
                                                <input id="{{ .id }}" type="range" min="{{ .min }}" max="{{ .max }}"
                                                    value="{{ .default }}">
                                            </div>
                                        </td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="column is-6">
                        <div>
                            <!-- TODO: i18n -->
                            <p class="is-size-5 has-text-weight-bold">
                                Society
                            </p>
                            <table class="table is-narrow is-hoverable">
                                <tbody>
                                    {{ range .Site.Data.simulation.society  }}
                                    <tr>
                                        <td>
                                            <!-- TODO: i18n -->
                                            <label for="{{ .id }}">{{ .title }}:</label>
                                        </td>
                                        <td>
                                            <div class="simulation-param">
                                                <!-- TODO: move style to css -->
                                                <span class="tag is-info is-light has-text-weight-bold" style="min-width: 5em;"></span>
                                                <input id="{{ .id }}" type="range" min="{{ .min }}" max="{{ .max }}"
                                                    value="{{ .default }}">
                                            </div>
                                        </td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>