<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{ partial "seo.html" . }}
    <link href='/css/main.css' rel="stylesheet">
    {{ partial "fonts.html" . }}
    {{ partial "analytics.html" . }}
    {{- $opts := dict "targetPath" "twitter/js/twitter.js" "minify" "true" "target" "es2015" -}}
    {{- $built := resources.Get "js/twitter/twitter.js" | js.Build $opts -}}
    <script defer type="text/javascript" src="{{ $built.RelPermalink }}"></script>
</head>

<body>
    {{ partial "navbar-section.html" . }}
    <section class="section">
        <div class="container">
            <div class="content">
                <h1 class="title">{{ .Title }}</h1>
                <article class="message is-info">
                    <div class="message-body">
                        {{ .Content }}
                    </div>
                </article>
                <div class="columns is-multiline">
                    {{ $context := . }}
                    {{ $preloadCount := 12 }}
                    {{ $max := 60 }}
                    {{ range first $preloadCount .Site.Data.twitter.tweets }}
                    <div class="column is-4">
                        {{ partial "twitter" (dict "context" $context "id" .) }}
                    </div>
                    {{ end }}
                    {{ range first (sub $max $preloadCount) (after $preloadCount .Site.Data.twitter.tweets) }}
                    <div class="tweet column is-4" data-tweet="{{.}}">
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
    {{ partial "footer.html" . }}
</body>

</html>