<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{ partial "seo.html" . }}
    <link href='/css/main.css' rel="stylesheet">
    {{ partial "analytics.html" . }}
    <script defer src='{{ "/twitter/js/twitter.js" | absURL }}'></script>
</head>

<body>
    {{ partial "navbar-section.html" . }}
    <section class="section">
        <div class="container">
            <div class="content">
                <h1 class="title">{{ .Title }}</h1>
                {{ .Content }}
                <div class="columns is-multiline">
                    {{ $context := . }}
                    {{ range .Site.Data.twitter.tweets }}
                    <div class="column is-4">
                    {{ partial "twitter" (dict "context" $context "id" .) }}
                    </div>
                    {{ end }}
                </div>

            </div>
        </div>
    </section>
    {{ partial "footer.html" . }}
</body>

</html>