<footer id="footer" class="footer">
    <div class="container">
        <div class="content has-text-centered is-size-7">
            {{ if ne .Kind "404" }}
            {{- $twitterPage := .GetPage "twitter" -}}
            <p class="has-margin-bottom-sm">
                {{- $twitterPage := .GetPage "twitter" -}}
                <a href="{{ $twitterPage.Permalink }}">{{ $twitterPage.Title }}</a>
            </p>
            {{ partial "share.html" . }}
            <hr>
            {{ end }}
            <p>
                {{ i18n "collaborate"}} <a href="https://fornos.uy" target="_blank" rel="noopener noreferrer">
                    {{ i18n "contactMe" }}</a> 🙏
            </p>
            <p>
                {{ i18n "siteMadeBy" }}<a href="https://fornos.uy" target="_blank" rel="noopener noreferrer"> Juan
                    Fornos</a>.
            </p>
            {{- if .Site.Params.kofi -}}
            <div>
                {{ partial "ko-fi.html" . }}
            </div>
            <br>
            {{- end -}}
            <p>
                <b>{{ i18n "supportedBy" }}</b>:
                <a href="https://www.netlify.com" target="_blank" rel="noopener noreferrer">
                    <img class="netlify-logo" width="98" height="27" src="{{ "/images/netlify-logo.svg" | absURL}}"
                        alt="Netlify">
                </a>
            </p>
            <p>
                <a target="_blank" rel="noopener noreferrer"
                    href="{{ .Site.Params.repo.url }}">
                    <span class="icon is-large">
                        <i class="{{ .Site.Params.repo.icon }} fa-2x"></i>
                        <span class="has-padding-left-sm has-text-nowrap">{{ i18n "sourceCode" }}</span>
                    </span>
                </a>
            </p>
        </div>
    </div>
</footer>