<footer id="footer" class="footer">
    <div class="container">
        <div class="content has-text-centered is-size-7">
            {{ if ne .Kind "404" }}
            {{ partial "share.html" . }}
            <hr>
            {{ end }}
            <p>
                {{ i18n "collaborate"}} <a href="https://www.juanfornos.com/es/#contact" target="_blank" rel="noopener noreferrer"> {{ i18n "contactMe" }}</a> 🙏
            </p>
            <p>
                {{ i18n "siteMadeBy" }}<a href="https://www.juanfornos.com" target="_blank" rel="noopener noreferrer"> Juan Fornos</a>.
            </p>
            <p>
                <b>{{ i18n "sponsoredBy" }}</b>:
                <a href="https://www.netlify.com" target="_blank" rel="noopener noreferrer">
                    <img class="netlify-logo" width="98" height="27" src="{{ "/images/netlify-logo.svg" | absURL}}"
                        alt="Netlify">
                </a>
            </p>
        </div>
    </div>
</footer>