{{- $today := index site.Data.icu.data (sub (len site.Data.icu.data) 1) -}}
<h2 class="title">{{ i18n "icuOccupation" }}</h2>
<div class="level is-mobile">
    <div class="level-item has-text-centered">
        <div>
            <p class="subtitle">{{ i18n "covid19" }}</p>
            <p class="title">{{ lang.NumFmt 2 (mul 100 (div $today.covid19 $today.available))
                .Site.Params.numberFormat
                }}%</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="subtitle">{{ i18n "total" }}</p>
            <p class="title">{{ lang.NumFmt 2 (mul 100 (div $today.total $today.available))
                .Site.Params.numberFormat
                }}%
            </p>
        </div>
    </div>
</div>