{{- $description := .Params.description -}}
{{- $title := .Title -}}
    <meta name="description" content="{{ $description }}">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">

    <meta property="og:title" content="{{ $title }}">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:image" content="{{ "images/seo/opengraph.jpg" | absURL }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ $title }}" />
    <meta name="twitter:description" content="{{ $description }}">
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta name="twitter:image:src" content="{{ "images/seo/twitter_card.jpg" | absURL }}">

    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebPage",
          "name": {{ $title }},
          "headline": {{ $title }},
          "url": {{ .Permalink }},
          "image": {
            "@type": "ImageObject",
            "url": {{ "images/seo/opengraph.jpg" | absURL }},
            "height": 1200,
            "width": 630
          },
          "datePublished": {{ .Date }},
          "dateModified": {{ (time (int (.Site.Data.world.updated))) }},
          "description": {{ $description }},
          "inLanguage": {{ .Language.Params.SchemaName }}
        }
        </script>
    