<h2 class="is-marginless">{{ i18n "shareMe" }}</h2>
{{- $permalink := .Permalink -}}
<!-- URL encode hack -->
{{- $permalink = replace $permalink ":" "%3A" -}}
{{- $permalink = replace $permalink "/" "%2F" -}}
{{- $title := .Title -}}
{{- range .Site.Params.share -}}
{{- $url := (replace .url "$url" $permalink) -}}
{{- $url = (replace $url "$title" $title) -}}
<a href="{{ $url | safeURL }}" target="{{ .target }}" aria-label="{{ .name }}" {{ if eq .target "_blank" }}rel="noopener noreferrer"{{ end }}>
    <span class="icon is-large">
        <i class="{{ .icon }} fa-2x"></i>
    </span>
</a>
{{- end -}}