<p class="has-text-centered is-size-7 has-padding-top-sm">{{ i18n "dataSource" }}:

    
    <a href="https://www.gub.uy/ministerio-salud-publica/comunicacion/publicaciones?field_tipo_de_publicacion_target_id=14&field_tematica_target_id=1085" target="_blank"
    rel="noopener noreferrer">{{ i18n "weeklyMPSReports" }}</a>,
    <a href="https://www.gub.uy/ministerio-salud-publica/coronavirus" target="_blank"
        rel="noopener noreferrer">{{ i18n "dailyMSPReports" }}</a> ({{ i18n "publishedBy" }}
    <a href="https://www.gub.uy/sistema-nacional-emergencias/" target="_blank"
        rel="noopener noreferrer">{{ i18n "sinae" }}</a>),
    <a href="https://catalogodatos.gub.uy/dataset/vacunacion-por-covid-19" target="_blank"
        rel="noopener noreferrer">{{ i18n "vacDataName" }}</a>
    {{ i18n "providedBy" }}
    <a href="https://www.gub.uy/ministerio-salud-publica/coronavirus" target="_blank"
        rel="noopener noreferrer">{{ i18n "msp" }}</a>
    {{ i18n "licenseUnder" }}
    <a href="https://www.gub.uy/agencia-gobierno-electronico-sociedad-informacion-conocimiento/sites/agencia-gobierno-electronico-sociedad-informacion-conocimiento/files/documentos/publicaciones/licencia_de_datos_abiertos_0.pdf"
        target="_blank" rel="noopener noreferrer">{{
        i18n "vacDataLicense" }}</a>,
    <a href="https://www.gub.uy/sistema-nacional-emergencias/pagina-embebida/visualizador-ocupacion-camas-cti-personas-adultas"
        target="_blank" rel="noopener noreferrer">{{ i18n "icuMonitor" }}</a>.
</p>