{{- $last := last 2 .Site.Data.uruguay.data -}}
{{- $today := index $last 1 -}}
{{- $yesterday := index $last 0 -}}
{{- $tests := $today.tests }}
{{- $cases := sub $today.cases $yesterday.cases -}}
{{- if isset $today "newCases" -}}
{{- $cases = $today.newCases -}}
{{- end -}}
{{- if isset $today "lateNewCases" -}}
{{- $lateNewCases := 0 -}}
{{- range $today.lateNewCases -}}
{{- $lateNewCases = add $lateNewCases . -}}
{{- end -}}
{{- $cases = add $cases $lateNewCases -}}
{{- end -}}
{{- $deaths := sub $today.deaths $yesterday.deaths -}}
{{- if isset $today "newDeaths" -}}
{{- $deaths = $today.newDeaths -}}
{{- end -}}
{{- $recovered := sub $today.recovered $yesterday.recovered -}}
{{- $healthWorkerCases := 0 -}}
{{- if gt $today.hc $yesterday.hc -}}
{{- $healthWorkerCases = sub $today.hc $yesterday.hc -}}
{{- end -}}
{{- $healthWorkerPercent := 0 -}}
{{- if gt $cases 0 -}}
{{- $healthWorkerPercent = mul (div $healthWorkerCases $cases) 100 -}}
{{- if gt $healthWorkerPercent 100 -}}
{{- $healthWorkerPercent = 100 -}}
{{- end -}}
{{- end -}}
<div id="uruguay-today">
    <span class="tag is-warning">{{ i18n "todayNumbers" }}: {{ dateFormat .Site.Params.dateFormatCompact $today.date }}</span>
    <nav class="level box has-padding-sm">
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "tests" }} 🧪</p>
                <p class="title">{{ lang.NumFmt 0 $tests .Site.Params.numberFormat }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "newCases" }} 😷</p>
                <p class="title">{{ lang.NumFmt 0 $cases .Site.Params.numberFormat }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "healthCareWorkerCases" }} 👩‍⚕️👨‍⚕️</p>
                <p class="title">{{ lang.NumFmt 0 $healthWorkerCases .Site.Params.numberFormat }} ({{ lang.NumFmt 2 $healthWorkerPercent .Site.Params.numberFormat }}%)</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "recovered" }} 🙏</p>
                <p class="title">{{ lang.NumFmt 0 $recovered .Site.Params.numberFormat }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "deaths" }} 😞</p>
                <p class="title">{{ lang.NumFmt 0 $deaths .Site.Params.numberFormat }}</p>
            </div>
        </div>
    </nav>
</div>