{{- $last := last 2 .Site.Data.uruguay.data -}}
{{- $today := index $last 1 -}}

{{- $data := site.Data.chartData -}}
{{- $tests := index (last 1 $data.dailyTests) 0 }}
{{- $dailyCases := cond $data.lateDataEnabled $data.dailyCasesWithLateData $data.dailyCases }}
{{- $cases := index (last 1 $dailyCases) 0 -}}
{{- $deaths := index (last 1 $data.dailyDeaths) 0 -}}
{{- $recovered := sub (index (last 1 $data.recovered) 0) (index (last 2 $data.recovered) 0) -}}
{{- $healthWorkerCases := index (last 1 $data.dailyHealthcareWorkers) 0  -}}
{{- $healthWorkerPercent := index (last 1 $data.dailyHealthcareWorkersPercent) 0  -}}

<div id="uruguay-today">
    <span class="tag is-warning">{{ i18n "todayNumbers" }}: {{ dateFormat .Site.Params.dateFormatCompact $today.date }}</span>
    <nav class="level box has-padding-sm">
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "tests" }} 🧪</p>
                <p class="title">{{ lang.NumFmt 0 $tests .Site.Params.numberFormat }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "newCases" }} 😷</p>
                <p class="title">{{ lang.NumFmt 0 $cases .Site.Params.numberFormat }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "healthCareWorkerCases" }} 👩‍⚕️👨‍⚕️</p>
                <p class="title">{{ lang.NumFmt 0 $healthWorkerCases .Site.Params.numberFormat }} ({{ lang.NumFmt 2 $healthWorkerPercent .Site.Params.numberFormat }}%)</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "recovered" }} 🙏</p>
                <p class="title">{{ lang.NumFmt 0 $recovered .Site.Params.numberFormat }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "deaths" }} 😞</p>
                <p class="title">{{ lang.NumFmt 0 $deaths .Site.Params.numberFormat }}</p>
            </div>
        </div>
    </nav>
</div>