{{- $tests := .Site.Data.uruguay.unreportedDailyTests -}}
{{- range .Site.Data.uruguay.data -}}
{{- $todayTests := cond (isset . "tests") .tests .positives -}}
{{- $tests = add $tests $todayTests -}}
{{- end -}}
{{- $last := index (last 1 .Site.Data.uruguay.data) 0 -}}
{{- $cases := $last.cases -}}
{{- $deaths := cond (isset $last "deaths") $last.deaths 0 -}}
{{- $recovered := cond (isset $last "recovered") $last.recovered 0 -}}
{{- $activeCases := cond (isset $last "activeCases") $last.activeCases (sub (sub $cases $deaths) $recovered) -}}
{{- $healthWorkerCases := cond (isset $last "hc") $last.hc 0 -}}
{{- $healthWorkerPercent := 0 -}}
{{- if gt $cases 0 -}}
{{- $healthWorkerPercent = mul (div $healthWorkerCases $cases) 100 -}}
{{- end -}}
{{- $icu := cond (isset $last "icu") $last.icu 0 -}}

{{- $last := last 2 .Site.Data.uruguay.data -}}
{{- $today := index $last 1 -}}
{{- $yesterday := index $last 0 -}}
{{- $yesterdayCases := $yesterday.cases -}}
{{- $yesterdayDeaths := cond (isset $yesterday "deaths") $yesterday.deaths 0 -}}
{{- $yesterdayRecovered := cond (isset $yesterday "recovered") $yesterday.recovered 0 -}}
{{- $yesterdayActiveCases := sub (sub $yesterdayCases $yesterdayDeaths) $yesterdayRecovered -}}
{{- $activeCasesDiff := sub $activeCases $yesterdayActiveCases -}}
{{- $activeCasesDiffSign := cond (lt $activeCasesDiff 0) "" "+" -}}
{{- $yesterdayIcu := cond (isset $yesterday "icu") $yesterday.icu 0 -}}
{{- $icuDiff := sub $icu $yesterdayIcu -}}
{{- $icuDiffSign := cond (lt $icuDiff 0) "" "+" -}}

{{- $todayTests := $today.tests }}
{{- $todayCases := sub $today.cases $yesterday.cases -}}
{{- if isset $today "newCases" -}}
{{- $todayCases = $today.newCases -}}
{{- end -}}
{{- if and .Site.Data.uruguay.lateNewCasesEnabled (isset $today "lateNewCases") -}}
{{- $lateNewCases := 0 -}}
{{- range $today.lateNewCases -}}
{{- $lateNewCases = add $lateNewCases . -}}
{{- end -}}
{{- $todayCases = add $todayCases $lateNewCases -}}
{{- end -}}
{{- $todayDeaths := sub $today.deaths $yesterday.deaths -}}
{{- if isset $today "newDeaths" -}}
{{- $todayDeaths = $today.newDeaths -}}
{{- end -}}
{{- $todayRecovered := sub $today.recovered $yesterday.recovered -}}
{{- $todayHealthWorkerCases := 0 -}}
{{- if gt $today.hc $yesterday.hc -}}
{{- $todayHealthWorkerCases = sub $today.hc $yesterday.hc -}}
{{- end -}}
{{- $todayHealthWorkerPercent := 0 -}}
{{- if gt $cases 0 -}}
{{- $todayHealthWorkerPercent = mul (div $todayHealthWorkerCases $todayCases) 100 -}}
{{- if gt $todayHealthWorkerPercent 100 -}}
{{- $todayHealthWorkerPercent = 100 -}}
{{- end -}}
{{- end -}}

<span class="tag is-warning">{{ dateFormat .Site.Params.dateFormatCompact $today.date }}</span>
<div id="uruguay" class="box has-padding-sm">
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "totalCases" }} 😷</p>
                <p class="title has-margin-bottom-none">{{ lang.NumFmt 0 $cases .Site.Params.numberFormat }}</p>
                <p class="has-margin-none is-size-7 has-text-grey">+{{ lang.NumFmt 0 $todayCases
                    .Site.Params.numberFormat }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "healthCareWorkerCases" }} 👩‍⚕️👨‍⚕️</p>
                <p class="title has-margin-bottom-none">{{ lang.NumFmt 0 $healthWorkerCases .Site.Params.numberFormat }}
                    ({{ lang.NumFmt 2 $healthWorkerPercent .Site.Params.numberFormat }}%)</p>
                <p class="has-margin-none is-size-7 has-text-grey">+{{ lang.NumFmt 0 $todayHealthWorkerCases
                    .Site.Params.numberFormat }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "activeCases" }} 😷</p>
                <p class="title has-margin-bottom-none">{{ lang.NumFmt 0 $activeCases .Site.Params.numberFormat }}</p>
                <p class="has-margin-none is-size-7 has-text-grey">{{ $activeCasesDiffSign }}{{ lang.NumFmt 0
                    $activeCasesDiff .Site.Params.numberFormat }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "icuInitials" }} 🏥</p>
                <p class="title has-margin-bottom-none">{{ lang.NumFmt 0 $icu .Site.Params.numberFormat }}</p>
                <p class="has-margin-none is-size-7 has-text-grey">{{ $icuDiffSign }}{{ lang.NumFmt 0 $icuDiff
                    .Site.Params.numberFormat }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "recovered" }} 🙏</p>
                <p class="title has-margin-bottom-none">{{ lang.NumFmt 0 $recovered .Site.Params.numberFormat }}</p>
                <p class="has-margin-none is-size-7 has-text-grey">+{{ lang.NumFmt 0 $todayRecovered
                    .Site.Params.numberFormat }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "deaths" }} 😞</p>
                <p class="title has-margin-bottom-none">{{ lang.NumFmt 0 $deaths .Site.Params.numberFormat }}</p>
                <p class="has-margin-none is-size-7 has-text-grey">+{{ lang.NumFmt 0 $todayDeaths
                    .Site.Params.numberFormat }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">{{ i18n "tests" }} 🧪</p>
                <p class="title has-margin-bottom-none">{{ lang.NumFmt 0 $tests .Site.Params.numberFormat }}</p>
                <p class="has-margin-none is-size-7 has-text-grey">+{{ lang.NumFmt 0 $todayTests
                    .Site.Params.numberFormat }}</p>
            </div>
        </div>
    </nav>
</div>
<div>
    <div class="columns">
        {{- if gt site.Data.uruguayVaccination.firstDoseTotal 0 -}}
        <div class="column is-3 is-12-mobile">
            {{ partial "vaccination.html" . }}
        </div>
        {{- end -}}
        <div class="column is-3 is-12-mobile">
            {{ partial "harvard.html" . }}
        </div>
    </div>

</div>