<div>
    {{- $vacData := site.Data.uruguayVaccination -}}
    {{- $firstDoseTotal := $vacData.firstDoseTotal -}}
    {{- $secondDoseTotal := $vacData.secondDoseTotal -}}
    {{- $boosterDoseTotal := $vacData.boosterDoseTotal -}}
    {{- $firstDoseVacProgress := div $firstDoseTotal $vacData.population -}}
    {{- $firstDoseVacProgressPercent := lang.NumFmt 2 (mul 100 $firstDoseVacProgress) .Site.Params.numberFormat -}}
    {{- $secondDoseVacProgress := div $secondDoseTotal $vacData.population -}}
    {{- $secondDoseVacProgressPercent := lang.NumFmt 2 (mul 100 $secondDoseVacProgress) .Site.Params.numberFormat -}}
    {{- $boosterDoseVacProgress := div $boosterDoseTotal $vacData.population -}}
    {{- $boosterDoseVacProgressPercent := lang.NumFmt 2 (mul 100 $boosterDoseVacProgress) .Site.Params.numberFormat -}}
    {{- $date := time $vacData.date -}}
    {{- $totalVacs := $vacData.total -}}
    {{- $todayVacs := $vacData.todayTotal -}}
    <h2 class="title">{{ i18n "vaccinationProgress" }}</h2>
    <div class="columns is-marginless is-paddingless">
        <div class="column is-two-fifths">
            <div>
                <div class="has-tooltip-multiline" data-tooltip='{{ i18n "vaccinationProgressFirstDoseDesc"}}'>
                    <span class="is-pulled-left">{{ i18n "vaccinationProgressFirstDose" }}</span>
                    <span class="is-pulled-right"><span class="has-margin-right-sm">{{ $firstDoseVacProgressPercent
                            }}%</span><i class="far fa-question-circle"></i></span>
                </div>
                <progress class="progress is-success" value="{{ $firstDoseVacProgress }}" max="1">{{
                    $firstDoseVacProgressPercent }}%</progress>
            </div>
            <div>
                <div class="has-tooltip-multiline" data-tooltip='{{ i18n "vaccinationProgressSecondDoseDesc"}}'>
                    <span class="is-pulled-left">{{ i18n "vaccinationProgressSecondDose" }}</span>
                    <span class="is-pulled-right"><span class="has-margin-right-sm">{{ $secondDoseVacProgressPercent
                            }}%</span><i class="far fa-question-circle"></i></span>
                </div>
                <progress class="progress is-success" value="{{ $secondDoseVacProgress }}" max="1">{{
                    $secondDoseVacProgressPercent }}%</progress>
            </div>
            {{- if site.Params.showBoosterDoseProgress -}} 
            <div>
                <div class="has-tooltip-multiline" data-tooltip='{{ i18n "vaccinationProgressBoosterDoseDesc"}}'>
                    <span class="is-pulled-left">{{ i18n "vaccinationProgressBoosterDose" }}</span>
                    <span class="is-pulled-right"><span class="has-margin-right-sm">{{ $boosterDoseVacProgressPercent
                            }}%</span><i class="far fa-question-circle"></i></span>
                </div>
                <progress class="progress is-success" value="{{ $boosterDoseVacProgress }}" max="1">{{
                    $boosterDoseVacProgressPercent }}%</progress>
            </div>
            {{- end -}} 
            {{- if site.Params.eta -}}
            {{- with $vacData.eta -}}
            <div class="has-tooltip-multiline pt-2" data-tooltip='{{ i18n "vacetaDesc"}}'>{{ i18n "vaceta"}}: <strong>{{ dateFormat site.Params.dateFormatCompact . }}</strong><span class="pl-1"><i class="far fa-question-circle"></i></span></div>    
            {{- end -}}
            {{- end -}}
        </div>
        <div class="column is-three-fifths">
            <div class="columns is-multiline">
                <div class="column is-6 has-text-centered">
                    <div class="subtitle is-marginless">{{ i18n "firstDose" }}</div>
                    <div class="title is-marginless">
                        {{- lang.NumFmt 0 $firstDoseTotal site.Params.numberFormat -}}
                    </div>
                    <!--<span class="is-size-7 has-text-grey">{{ i18n "today" }}: {{ lang.NumFmt 0 $todayVacs site.Params.numberFormat
                -}}</span>-->
                </div>
                <div class="column is-6 has-text-centered">
                    <div class="subtitle is-marginless">{{ i18n "secondDose" }}</div>
                    <div class="title is-marginless">
                        {{- lang.NumFmt 0 $secondDoseTotal site.Params.numberFormat -}}
                    </div>
                    <!--<span class="is-size-7 has-text-grey">{{ i18n "today" }}: {{ lang.NumFmt 0 $todayVacs site.Params.numberFormat
                -}}</span>-->
                </div>
                <div class="column is-6 has-text-centered">
                    <div class="subtitle is-marginless">{{ i18n "boosterDose" }}</div>
                    <div class="title is-marginless">
                        {{- lang.NumFmt 0 $boosterDoseTotal site.Params.numberFormat -}}
                    </div>
                    <!--<span class="is-size-7 has-text-grey">{{ i18n "today" }}: {{ lang.NumFmt 0 $todayVacs site.Params.numberFormat
                -}}</span>-->
                </div>
                <div class="column is-6 has-text-centered">
                    <div class="subtitle is-marginless">{{ i18n "dosesTotal" }}</div>
                    <div class="title is-marginless">
                        {{- lang.NumFmt 0 $totalVacs site.Params.numberFormat -}}
                    </div>
                    <span class="is-size-7 has-text-grey">{{ i18n "today" }}: {{ lang.NumFmt 0 $todayVacs
                        site.Params.numberFormat
                        -}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-marginless is-paddingless">
        <div class="column is-marginless is-paddingless is-size-7 is-12 has-text-centered has-text-grey">
            {{- i18n "updated" }}: {{ dateFormat .Site.Params.dateFormat $date -}}.
            {{i18n "moreVacInfo"}}: <a href="https://vacuna.uy" target="_blank" rel="noopener noreferrer">https://vacuna.uy</a>.
        </div>
    </div>
    

</div>