<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Página no encontrada</title>
    <link href='/css/main.css' rel="stylesheet">
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                404 Página no encontrada
            </h1>
            <div class="content">
                <div class="columns">
                    <div class="column is-6">
                        <figure class="image">
                            <img src="/images/404.png">
                        </figure>
                    </div>
                </div>
                <p>No encontramos ésta página. Por favor, comunicate si pensás que es un error.</p>
                <p><a href="/">Volver a {{ .Site.Title }}</a>.</p>
            </div>
        </div>
    </section>
    {{ partial "footer.html" . }}
</body>

</html>