<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ i18n "404title" }}</title>
    <link href='/css/main.css' rel="stylesheet">
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                {{ i18n "404title" }}
            </h1>
            <div class="content">
                <div class="columns">
                    <div class="column is-6">
                        <figure class="image">
                            <img src="/images/404.png">
                        </figure>
                    </div>
                </div>
                <p>{{ i18n "404message"}}</p>
                <p><a href="{{ "/" | absLangURL }}">{{ i18n "backTo"}} {{ .Site.Title }}</a>.</p>
            </div>
        </div>
    </section>
    {{ partial "footer.html" . }}
</body>

</html>