<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{ partial "seo.html" . }}
    <link href='/css/main.css' rel="stylesheet">
    <script defer src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
    <script defer src='{{ "/js/main.js" | absURL }}'></script>
    {{ partial "analytics.html" . }}
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                {{ .Title }}
            </h1>
            <h2 class="subtitle">{{ .Params.subtitle }}</h2>
            {{ range .Translations }}
            <a href="{{ .Permalink }}" class="lang-link" data-lang="{{ .Language }}">
                <i class="fas fa-language fa-2x"></i>{{ .Language.LanguageName }}
            </a>
            {{ end }}
            <div class="columns is-centered is-multiline">
                <div class="column is-6">
                    <canvas id="chart-active-cases" width="100%" height="100%"></canvas>
                </div>
                <div class="column is-6">
                    <canvas id="chart-total-cases" width="100%" height="100%"></canvas>
                </div>
                <div class="column is-6">
                    <canvas id="chart-daily-cases" width="100%" height="100%"></canvas>
                </div>
                <div class="column is-6">
                    <canvas id="chart-analysis" width="100%" height="100%"></canvas>
                </div>
                <div class="column is-6">
                    <canvas id="chart-daily-hospitalizations" width="100%" height="100%"></canvas>
                </div>
                <div class="column is-6">
                    <canvas id="chart-total" width="100%" height="100%"></canvas>
                </div>
            </div>
            <div>
                <p class="has-text-centered is-size-7">{{ i18n "dataSource" }}: <a
                        href="https://www.gub.uy/ministerio-salud-publica/coronavirus" target="_blank" rel="noopener noreferrer">{{ i18n "msp" }}</a>.
                </p>
            </div>
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </section>
    {{ partial "footer.html" . }}
</body>

</html>