<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{ partial "seo.html" . }}
    {{ partial "icons.html" . }}
    <link href='/css/main.css' rel="stylesheet">
    <script defer src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
    <script defer src='{{ "/js/main.js" | absURL }}'></script>
    {{ partial "analytics.html" . }}
</head>

<body>
    {{ partial "navbar.html" . }}
    <section class="section">
        <div class="container">
            <h1 class="title">
                {{ .Title }}
            </h1>
            <div>
                <a href="{{ "/simulation" | relLangURL }}">
                    <span class="tag is-danger">{{ i18n "new"}}</span>
                    {{ i18n "simulationTitle" }}
                </a>
            </div>
            <div class="content">
                {{ partial "uruguay.html" . }}
            </div>
            <div class="columns is-centered is-multiline">
                {{ $context := . }}
                {{- range .Site.Data.charts -}}
                <div class="column is-4">
                    {{ partial "chart-title.html" (dict "title" (i18n .title) "desc" (i18n .desc) "displayPositivesAndCasesInfo" .displayPositivesAndCasesInfo) }}
                    <canvas id="{{ .id }}" width="100%" height="100%"></canvas>
                    {{ partial "uruguay-updated-date.html" $context }}
                </div>
                {{- end -}}
            </div>
            <div class="content">
                {{ partial "uruguay-today.html" . }}
            </div>
            <div>
                <p class="is-size-7">
                    {{ i18n "positivesAndCasesInfo" }}
                </p>
                <p class="has-text-centered is-size-7 has-padding-top-sm">{{ i18n "dataSource" }}:
                    <a href="https://www.gub.uy/ministerio-salud-publica/coronavirus" target="_blank"
                        rel="noopener noreferrer">{{ i18n "msp" }}</a> {{ i18n "and" }}
                    <a href="https://www.gub.uy/sistema-nacional-emergencias/" target="_blank"
                        rel="noopener noreferrer">Sistema Nacional de Emergencias</a>.
                </p>
            </div>
            <div class="content">
                <br>
                {{ .Content }}
            </div>
        </div>
    </section>
    {{ partial "footer.html" . }}
</body>

</html>