<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{ partial "seo.html" . }}
    {{ partial "icons.html" . }}
    <link href='/css/main.css' rel="stylesheet">
    {{ partial "fonts.html" . }}
    <script defer src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
    {{- $externals := slice "chart.js" -}}
    {{- $opts := dict "targetPath" "js/main.js" "minify" "true" "target" "es2015" "externals" $externals -}}
    {{- $built := resources.Get "js/home.js" | js.Build $opts -}}
    <script defer type="text/javascript" src="{{ $built.RelPermalink }}"></script>
    {{ partial "analytics.html" . }}
</head>

<body>
    {{ partial "navbar.html" . }}
    <section class="section">
        <div class="container">
            <h1 class="title has-margin-bottom-sm">
                {{ .Title }}
            </h1>
            <div class="content">
                {{ partial "uruguay.html" . }}
            </div>
            <div class="columns is-centered is-multiline">
                {{ $context := . }}
                {{- range .Site.Data.charts -}}
                {{- if not .disabled -}}
                <div class="column is-4">
                    {{ partial "chart-title.html" (dict "title" (i18n .title) "desc" (i18n .desc)
                    "displayPositivesAndCasesInfo" .displayPositivesAndCasesInfo "displayUnreportedPositiviesInfo"
                    .displayUnreportedPositiviesInfo "new" .new "displayDeathsInfo" .displayDeathsInfo
                    "displayUnreliableDataMessage" .displayUnreliableDataMessage "displayVacErrorsInfo"
                    .displayVacErrorsInfo) }}
                    <canvas id="{{ .id }}" width="100%" height="100%"></canvas>
                    <div class="has-text-centered">
                        {{ partial "uruguay-updated-date-weekly.html" $context }}
                    </div>
                </div>
                {{- end -}}
                {{- end -}}
            </div>
            {{ partial "footnotes.html" }}
            <div class="content">
                <br>
                {{ .Content }}
                {{- if site.Params.archiveEnabled -}}
                <div id="archive">
                    <h2>{{ i18n "archive" }}</h2>
                    <p>{{ i18n "archiveDesc" }}</p>
                    <div class="columns is-centered is-multiline">
                        {{ $context := . }}
                        {{- range .Site.Data.chartsArchive -}}
                        <div class="column is-4">
                            {{ partial "chart-title.html" (dict "title" (i18n .title) "desc" (i18n .desc)
                            "displayPositivesAndCasesInfo" .displayPositivesAndCasesInfo
                            "displayUnreportedPositiviesInfo" .displayUnreportedPositiviesInfo
                            "displayUnreliableDataMessage" .displayUnreliableDataMessage "displayVacErrorsInfo"
                            .displayVacErrorsInfo) }}
                            <canvas id="{{ .id }}" width="100%" height="100%"></canvas>
                            <div class="has-text-centered">
                                {{ partial "uruguay-updated-date.html" $context }}
                            </div>
                        </div>
                        {{- end -}}
                    </div>
                </div>
                <div class="content">
                    {{ partial "uruguay-departments.html" . }}
                </div>
                {{ partial "footnotes.html" }}
                {{- end -}}
            </div>
        </div>
    </section>
    {{ partial "footer.html" . }}
</body>

</html>