{{- $deaths := 0 -}}
{{- $cases := 0 -}}
{{- range .Site.Data.uruguay -}}
{{- $deaths = add $deaths (cond (isset . "deaths") .deaths 0)  -}}
{{- $cases = add $cases .cases -}}
{{- end -}}
<div class="box">
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">Casos 😷</p>
                <p class="title">{{ lang.NumFmt 0 $cases "- , ."}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">Muertes 😞</p>
                <p class="title">{{ lang.NumFmt 0 $deaths "- , ."}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">Recuperados 🙏</p>
                <p class="title">?</p>
            </div>
        </div>
    </nav>
</div>