{{- $deaths := 0 -}}
{{- $cases := 0 -}}
{{- $recovered := 0 -}}
{{- range .Site.Data.uruguay -}}
{{- $deaths = add $deaths (cond (isset . "deaths") .deaths 0)  -}}
{{- $cases = add $cases .cases -}}
{{- $recovered = add $recovered (cond (isset . "recovered") .recovered 0) -}}
{{- end -}}
{{- $activeCases := sub (sub $cases $deaths) $recovered -}}
<div class="box">
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">Casos Totales 😷</p>
                <p class="title">{{ lang.NumFmt 0 $cases "- , ."}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">Casos Activos 😷</p>
                <p class="title">{{ lang.NumFmt 0 $activeCases "- , ."}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">Recuperados 🙏</p>
                <p class="title">{{ lang.NumFmt 0 $recovered "- , ."}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="subtitle">Muertes 😞</p>
                <p class="title">{{ lang.NumFmt 0 $deaths "- , ."}}</p>
            </div>
        </div>
    </nav>
</div>