<h2>Números en el mundo 🌍</h2>
<div class="box">
<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="subtitle">Casos Totales 😷</p>
            <p class="title">{{ lang.NumFmt 0 .Site.Data.world.cases "- , ."}}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="subtitle">Recuperados 🙏</p>
            <p class="title">{{ lang.NumFmt 0 .Site.Data.world.recovered "- , ."}}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="subtitle">Muertes 😞</p>
            <p class="title">{{ lang.NumFmt 0 .Site.Data.world.deaths "- , ."}}</p>
        </div>
    </div>
</nav>
<div class="has-text-centered is-size-7">
    Actualizado: {{ (time (int (.Site.Data.world.updated))).Format "02/01/2006 15:04:05" }}
    (hora de Uruguay)
    <br />
    Fuente: <a href="https://www.worldometers.info/coronavirus/">https://www.worldometers.info/coronavirus/</a>
</div>
</div>